#topHeader{
    text-align: center;
    position: absolute;
    align-items: center;
    border: 50px black;
    background-color: rgb(94, 132, 248);
    height:fit-content;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}
#navBar{
    text-align: center;
    
    align-self: center;
    background-color: lightgray;
    height:100px;
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    float: inline-start;

}

#supermarkets{
    float: left;
}
#baseImage{
    
    align-self: center;
    height:400px;
    padding: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.image-size{
    width: 100px;
    height: 40px;
    justify-content: center;
    padding-bottom: 2px;
    margin-bottom: auto;
    float: left;
}
.icon{
    background-color: blue;
    border-radius: 50%;
    border:1px solid grey;
    padding: 10px;
    

}
.cart-box{
    width: 14%;
    border-radius: 5%;
    padding: 10%;
}
